<h1>Editing Product ID <%= @product[:id] %></h1>
<p>Back to <%=link_to "Products Page", products_path %> | Back to <%= @product[:name] %>'s <%=link_to "Product Page", product_path(@product) %></p>
<p>
<%= render 'form' %>

