<h1><%= @product[:name] %></h1>
<p><%= @product[:description]%></p>
<p>Price: $<%= (@product[:price_in_cents]/100.00).to_f %></p>

<br/>
<br/>
<p>Back to <%= link_to "Products Page", products_path %> | <%= link_to "Edit Product", edit_product_path(@product) %> </p>
